<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>俱乐部列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Club/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Club/changeStatus',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('Club/changeStatus',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('Club/changeStatus',array('method'=>'delete'))}" target-form="ids">删 除</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn" href="{:U('Club/index')}&status=-1">查看已删除</a>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="club_name" class="search-input" value="{:I('club_name')}" placeholder="请输入俱乐部昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">昵称</th>
		<th>负责人</th>
		<th class="">地址</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.club_id}" /></td>
			<td>{$vo.club_id} </td>
			<td>{$vo.club_name}</td>
			<td>{$vo.uname}</td>
			<td>{$vo.address}</td>
			<td>{$vo.status_text}</td>
			<td><eq name="vo.status" value="1">
				<a href="{:U('Club/changeStatus?method=forbid&id='.$vo['club_id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('Club/changeStatus?method=resume&id='.$vo['club_id'])}" class="ajax-get">启用</a>
				</eq>
                <a href="{:U('Club/edit?id='.$vo['club_id'])}" class="">编辑</a>&nbsp;|&nbsp;
				<a href="{:U('Club/changeStatus?method=delete&id='.$vo['club_id'])}" class="confirm ajax-get">删除</a>&nbsp;|&nbsp;
				<a href="{:U('Actives/index?cid='.$vo['club_id'])}" class="">活动</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Club/index')}');
	</script>
</block>
