<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <title>智慧养老云平台</title>
        <link rel="stylesheet" href="__CSS__/index/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/index/index.css">
    <link rel="stylesheet" href="__CSS__/index/welcome.css">
    <script src="./vip_files/hm.js"></script><script type="text/javascript" src="./vip_files/baidu-sa.js"></script>
    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head> 
    <body> 
        <div class="check_bggr">
            <ul class="site_ul">
                
                    <li class="on">
                        <a hrefs="cloud-member/reception/get_member_jd_list?station=160429175024029235">
                            <div class="well">
                                <i class="icon_jd"></i>
                                <h5>接待登记</h5>
                                <p>接待并管理非会员基本信息</p>
                            </div>
                        </a>
                    </li>
                
                
                    <li class="on">
                        <a hrefs="cloud-member/member/get_member_list?station=160429175024029235">
                            <div class="well">
                                <i class="icon_hygl"></i>
                                <h5 class="color999">会员信息管理</h5>
                                <p>正式会员信息管理</p>
                            </div>
                        </a>
                    </li>
                
            </ul>
        </div>
    
</body></html>