<extend name="Base/common"/>
<block name="style">
<link href="__CSS__/global.css" rel="stylesheet" />
<link rel="stylesheet" href="__CSS__/login.css">

</block>
<block name="content">
    <div id="content" class="login">
        <!--匿名下单成功后查看订单详情登陆显示-->
        <form method="POST" action="" id="login_form">
        <div class=" lv-proinfo-list">
            <h2 style="text-align: center;">{$club_info.club_name}</h2>
            <ul>
                <if condition="$club_info.tag ">
                <li style="text-align: center;">
                    <span>{$club_info.tag}</span>
                </li>
                </if>
                <if condition="$club_info.logo ">
                <li style="text-align: center;">
                    <span><img src="{:img_size_url($club_info.logo,196,176)}" alt="{$club_info.club_name}}" style="width: 50%;"></span>
                </li>
                </if>
                <li style="text-align: center;">{$club_info.description}
                </li>
                <if condition="$club_info.mobile ">
                <li style="border: 0;">
                    <label for="password" style="width:50%;text-align:right;">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                    <span>{$club_info.mobile}</span>
                </li>
                </if>
                <if condition="$club_info.telphone ">
                <li style="border: 0;">
                    <label for="password" style="width:50%;text-align:right;">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</label>
                    <span>{$club_info.telphone}</span>
                </li>
                </if>
            </ul>
        </div>
        </form>
    </div><!-- /#content -->
</block>
<!--end content-->
<block name="script">
<script>
$(function(){
    /*input 框变色*/
    $("input.lv-input-01").focus(function(e) {
        $(this).addClass("lv-input01-focus");
    });
    $("input.lv-input-01").blur(function(e) {
        $(this).removeClass("lv-input01-focus");
    }); 
    
});

function login(){
    $("#login_form").submit();
}
</script>
</block> 