<!doctype html>
<html>
<head>
    <title>抢房啦！(扬州香格里拉酒店)-5间房预定平台</title>
	<meta name="Description" content=""/>
<meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
<link rel="stylesheet" href="__CSS__/../5jf/css/font-icons.css">
<link rel="stylesheet" href="__CSS__/../5jf/css/global.css">
<script type="text/javascript" src="__CSS__/../5jf/js/zepto.min.js"></script>
<script type="text/javascript" src="__CSS__/../5jf/js/globe.js"></script>

<link rel="stylesheet" href="__CSS__/../5jf/css/detail.css">
<link rel="stylesheet" href="__CSS__/../5jf/css/idangerous.swiper.css">
<script src="__CSS__/../5jf/js/swiper.min.js"></script>
</head>
<body>

<div id="wrapper">
		    
	    <div id="content">
	        <div class="lv-project-detail">
	            <div class="swiper-main detail-banner">
	                <div class="swiper-container swiper-banner">
	                    <div class="swiper-wrapper">
	                        <!--内容添加-->
			                        <div class="swiper-slide"><img src="/Public/Mobile/5jf/images/P4NPG.jpg" id="weixinsharepic" alt=""></div>
			                        <div class="swiper-slide"><img src="/Public/Mobile/5jf/images/7EL62.jpg" alt=""></div>
			                        <div class="swiper-slide"><img src="/Public/Mobile/5jf/images/SXKDN.jpg" alt=""></div>
			                        <div class="swiper-slide"><img src="/Public/Mobile/5jf/images/5UDDL.jpg" alt=""></div>
	                    </div>
	                </div>
	                <div class="pagination"></div>
	            </div>
	            <div class="t_base_info">
                        <h2 class="detail_title">扬州香格里拉酒店
		                <!-- 活动标签 -->
					        <span class="lv-score lv-score-50"></span><br>
					  	<!--手机独享  -->
	                </h2>
	                <p class="detail_desc">
	                   扬州香格里拉酒店是一个非常好的大酒店，里面设施齐全
服务态度好，还有双早哦
	                </p>
                                
	                <p class="mt10 detail_zhs">
                            <span class="info_p1">2009年装修</span>
	                    <span class="info_p2"><img src="/Public/Mobile/5jf/images/sheshi_icon.png"  style="width: 120px;" /></span>
	                </p>
	            </div>
	            <div class="t_info">
		                
	               
					    
	             
	                <!-- 说明 -->
		                <div class="lv-box set-btn">
                                    <h3 class="detail_content_title"><img src="/Public/Mobile/5jf/images/detail_title_1.png" class="fl"  style="width: 26px; position:relative;top:-3px; margin-right: 5px;" />活动说明</h3>
		                    <div class="t_content journey">
                                        <section class="detail_cl_1">
                                            0元抢房是<span class="detail_cl_2"><b>“5间房酒店预订平台”</b></span>提供给大家的福利哦！
                                                                                凡事参与抢购的朋友就会有机会活动五星酒店免费入住一
                                                                                晚（含双早）
                                                                                <br/><br/>
                                                                                本期抢房的酒店：<span class="detail_cl_2">扬州香格里拉酒店（原价8888元）</span><br/>
                                                                                本期抢房截止时间：<span class="detail_cl_2">2014-10-30</span><br/>
																				酒店房型：<span class="detail_cl_2">标准客房一间（￥860）</span><br/>
																				酒店地址：<span class="detail_cl_2">扬州 邗江区 江阳西路109号</span><br/>
                                                                                本期酒店数量：<span class="detail_cl_2">2间</span>



			                        </section>
			                        <section>
			                          
			                        </section>
		                    </div>
		                </div>
                        
                        
                        <!-- 参与方式 -->
		                <div class="lv-box set-btn">
                                    <h3 class="detail_content_title"><img src="/Public/Mobile/5jf/images/detail_title_2.png" class="fl"  style="width: 26px; position:relative;top:-3px; margin-right: 5px;" />参与方式</h3>
		                    <div class="t_content journey">
                                        <section class="detail_cl_1">
                                           1.用户点击“我要抢房”，即可马上获得抢房结果<br/>
                                           2.用户<span class="detail_cl_2">分享“0元抢房活动”到朋友圈后</span>，我们会从中
  抽取一名幸运用户获得抢房
  <div style="height:1px;border-bottom: 1px dashed #d2d2d2; margin: 10px 0;"></div>
                                                                                酒店入住截止时间：2014-11-1（今早入住哦）<br/>
                                                                                入住必须提前2天与5间房的客服联系<br/>
                                                                               本活动只包含免费入住一晚和免费的双早<br/>
本活动最终解释权归5间房所有



			                        </section>
			                        
		                    </div>
		                </div>
	    
	                <br/><br/><br/>
	            </div>
	        </div>
	        
	    </div>
    
</div>
<div class="footer">
    <input type="button" value="分享朋友圈" class="share_btn" onclick="P.share()" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value="马上抢房" class="get_room_btn" id="get_room_btn" />
    </div>
<div class=" " id="popupDialog-screen"></div>
<div id="popupDialog-popup" style="color: black; width:90%;z-index: 1100; display: none;">
    <div class="get_room_box ui-shadow">
        <ul>
            <li class="get_room_title">请输入手机号码抢房 <a href="javascript:" id="pop_close" class="pop_close"><img src="/Public/Mobile/5jf/images/delete-black.png" style="width:14px;" /></a></li>
            <li>手机号 <input type="number" value="" name="mobile" id="mobile"  class="number_input"  /> <input type="button" class="get_room_code" value="验证码"  /></li>
            <li>验证码 <input type="number" value="" name="code" id="code" class="number_input"  /></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="确定" class="get_room_confirm" id="get_room_confirm"  /></li>
			<li class="error_msg" id="error_msg"></li>
        </ul>
    </div>
   
</div>
<div id="popupDialog-popup2" style="color: black; width:90%;z-index: 1100;display: none;">
            <div class="get_room_box ui-shadow">
                <ul style="text-align:center;">
                    <li class="get_room_title">&nbsp; <a href="javascript:" id="pop_close" class="pop_close"><img src="__CSS__/../5jf/images/delete-black.png" style="width:14px;" /></a></li>
                    <li style="color:#777777;">很遗憾！您没有抢到哦<br>
                        把抢房分享到朋友圈，也有机会获得抢房哦
                    </li>
                    <li><input type="button" value="分享朋友圈"  style="width: auto;padding: 5px 20px;" class="share_btn" onclick="P.share()"  /></li>
					
                </ul>
            </div>

        </div>
<div id="popupDialog-popup3" style="color: black; width:90%;z-index: 1100;display: none;">
            <div class="get_room_box ui-shadow">
                <ul style="text-align:center;">
                    <li class="get_room_title">&nbsp; <a href="javascript:" id="pop_close" class="pop_close"><img src="__CSS__/../5jf/images/delete-black.png" style="width:14px;" /></a></li>
                    <li style="color:#777777;">恭喜您抢到了免费入住香格里拉酒店一晚<br>
                        我们会把您酒店信息发送到手机号码，或者您可以直接与我们的客服联系：405-800-005
                    </li>
                    <li><input type="button" value="朋友圈炫耀一下" style="width: auto;padding: 5px 20px;"  class="share_btn" onclick="P.share()"  /></li>
                </ul>
            </div>

        </div>
		<div id="popupDialog-share" style="color: black; width:167px;z-index: 1100;display: none;position:fixed;top:0;right:0;">
           <img src="__CSS__/../5jf/images/share_panel.png" style="width:167px;" />
        </div>
  <script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });
    </script>
<script>
   
   var P={
       pop_close:function(){
           $('#popupDialog-screen').removeClass("ui-popup-screen");
           $('#popupDialog-screen').removeClass("ui-overlay-b");
           $('#popupDialog-screen').removeClass("in");
           $('#popupDialog-popup').hide();
           $('#popupDialog-popup2').hide();
           $('#popupDialog-popup3').hide();
       },
       pop_up:function(){
           $('#popupDialog-screen').addClass("ui-popup-screen");
           $('#popupDialog-screen').addClass("ui-overlay-b");
           $('#popupDialog-screen').addClass("in");
           $('#popupDialog-popup').show();
           $('#popupDialog-popup').center();
       },
       pop_up2:function(){
           $('#popupDialog-screen').addClass("ui-popup-screen");
           $('#popupDialog-screen').addClass("ui-overlay-b");
           $('#popupDialog-screen').addClass("in");
		   $('#popupDialog-popup').hide();
           $('#popupDialog-popup2').show();
           $('#popupDialog-popup2').center();
       },
       pop_up3:function(){
           $('#popupDialog-screen').addClass("ui-popup-screen");
           $('#popupDialog-screen').addClass("ui-overlay-b");
           $('#popupDialog-screen').addClass("in");
           $('#popupDialog-popup3').show();
           $('#popupDialog-popup3').center();
       },
	   show_error:function(msg){
			$('#error_msg').html(msg);
			setTimeout(function(){
				$('#error_msg').html('');
			},3000);
	   },
	   share:function() {
		   P.pop_close();
		   $('#popupDialog-screen').addClass("ui-popup-screen");
		   $('#popupDialog-screen').addClass("ui-overlay-b");
		   $('#popupDialog-screen').addClass("in");
		   $('#popupDialog-share').show();
	    },
		share_close:function(){
			P.pop_close();
			$('#popupDialog-share').hide();
		}
   }
   window.wait = 60;
    var MyTime = function(o){
         if (wait == 0) {  
             o.removeAttr("disabled");
             o.removeClass("get_room_code_back");
             o.attr("value","获取验证码");  
             wait = 60; 
         } else {  
                 o.attr("disabled",true);
             o.addClass("get_room_code_back");
             o.attr("value","重新获取(" + wait + ")");  
             wait--;  
             setTimeout(function() {  
                 MyTime(o);  
             },  
             1000) ; 
         } 
    }
   //$('#popupDialog-popup').center();
   $(function(){
       $('.pop_close').click(function(){
           P.pop_close();
       });
       $('#get_room_btn').click(function(){
           P.pop_up();
       });
	   $('#popupDialog-share').click(function(){
           P.share_close();
       });
       $('.get_room_code').click(function(){
            var mobile = $("#mobile").val();
            if(!$.trim(mobile)){
                P.show_error("请填写手机号");return false;
            }else if(mobile.length != 11){
                P.show_error("请正确填写手机号");return false;
            }
            $.post("{:U('FiveRoom/sendRandomCode')}",{"mobile":mobile},function(data){
                    if(data.status==0){
                        P.show_error(data.info);
                    }
            });
            MyTime($(this));
        });
        $('#get_room_confirm').click(function(){
            var data = {};
            var mobile = $("#mobile").val();
            if(!$.trim(mobile)){
                P.show_error("请填写手机号");return false;
            }else if(mobile.length != 11){
                P.show_error("请正确填写手机号");return false;
            }
            data.mobile = mobile;

            var code = $("#code").val();
            if(!$.trim(code)){
                P.show_error("请填写验证码");return false;
            }
            data.code = code;

            $.post("{:U('FiveRoom/detail')}",data,function(res){
                if(res.status ==0){
                    if(res.info=='false'){
                        P.pop_up2();
                    }else{
                        P.show_error(res.info);
                    }
                }else{
                        P.pop_up3();
                }
            });

        });
   });
   
</script>


</body>
</html>