<extend name="Base/other"/>

<block name="style">
<link href="__CSS__/other.css" rel="stylesheet">

<style>


</style>
</block>

<block name="content">
  <div class="container">
  <div class="container doc" style="margin-top:0px;margin-bottom:0px;">
    <include file="Public/other_left"/>
    <div style="width:800px;" class="fr MainContent">
      <h2>关于上海户外网</h2>
      <p>上海户外网网站的主题是提供尽可能多的上海出发的户外运动资讯搜索服务，同时提供俱乐部和个人的自助旅行和户外运动，提供俱乐部资讯、概念装备探讨、户外百科等服务。</p>
      <p>上海户外网的官方微博: <a href="http://weibo.com/u/5132462376">http://weibo.com/u/5132462376</a>，您可以关注这个微博帐号获得上海户外网相关的信息和资料。</p>
      <h3>我们是谁：上海户外网是什么</h3>
      <p>上海户外网网站建立于2014年5月，雏形是一群上海的户外俱乐部组织者，初期的创始人在经历了创办户外运动俱乐部、为户外运动俱乐部提供在线俱乐部管理平台后。有感于上海的户外资讯相比较于国内其他地方，与上海在户外圈子里面的地位有所差距，于是成立了致力于让驴友更加自由选择活动、自助结伴出游的上海户外网。</p>
      <h3>自助旅行和户外运动</h3>
      <p>所谓自助旅行和户外运动，并没有一个严格的通用的定义。在上海户外网，自助旅行（或称背包旅行，backpacking）泛指自行策划线路、日程安排而完成的旅行。这一形式兴起于西方国家，相对于传统的导游+旅游团形式是一种完全不同的旅行体验，更受喜爱自由，乐于探索新奇目的地的年轻人喜爱。户外运动，目前包含了登山远足，穿越露营，自行车，滑雪，游泳等普通难度的活动，也包含高海拔攀登、攀岩、探洞、溯溪、滑翔、潜水等具备一定专业性和危险性的极限运动。各种户外运动目前已经是很多年轻人的日常休闲和锻炼选择。</p>
      <p>上海户外网作为一个主题为搜索户外运动的平台，除讨论交流的功能以外，还提供发布信息约伴的功能。这些功能对所有的注册用户开放，但需明确遵循自助与非盈利的原则。活动参与者应当是以享受旅行或户外运动为目的，正常的自助活动中，所有的活动参与者，都应当平等地承担活动中的各种义务，听从活动举办俱乐部的安排。</p>
      <p></p>
      <p>对于有一定难度，需要专业技术支持和保障的户外项目，上海户外网支持具备相关专业资质的合法商业机构组织盈利性活动。此类活动需要行前明示详细的收费标准。</p>
      <h3>免责声明和风险提示</h3>
      <p>上海户外网为用户提供免费发布户外运动、自助旅行的活动约伴平台，活动中如发生事故、冲突等纠纷与网站无关，请按照相关法规或内部协商解决。</p>
      <p>户外活动具有天然风险性，请充分考虑个人的社会责任以及个人、家庭对可能的意外的承受力后审慎选择加入。充分的计划、合适的同伴、可靠的装备有助于降低但不能绝对避免户外活动的风险。请根据自己的能力、经验选择合适的活动及合理控制活动强度，反对冒进，提倡学会理性放弃。</p>
      <h3>一些约定和惯例</h3>
      <p>很多户外运动项目都具有相当高的风险性，而自助旅行也并不总是一帆风顺的。我们建议每一个刚刚踏入上海户外网大门，对这个网站介绍的新鲜内容跃跃欲试的新用户，都花一定的时间认真的阅读各讨论区积累下来的精华内容，增加自己对自助旅行和户外运动的了解，对可能的风险做好心理和装备上的准备。</p>
      <p class="update">最后更新时间: 2014-05-10</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</block>