<extend name="Base/other"/>

<block name="style">
<link href="__CSS__/other.css" rel="stylesheet">

<style>


</style>
</block>

<block name="content">
  <div class="container">
  <div class="container doc" style="margin-top:0px;margin-bottom:0px;">
    <include file="Public/other_left"/>
    <div style="width:800px;" class="fr MainContent">
      <h2>版权声明</h2>
      <h3>上海户外网和Shanghaihuwai是上海户外网网站的注册商标</h3>
      <p><strong>上海户外网</strong>和<strong>Shanghaihuwai</strong>是上海户外网网站的注册商标。包含相关文字的衍生产品不得在未经授权的情况下擅自使用。</p>
      <h3>用户发布在上海户外网的内容默认使用CC协议</h3>
      <p>用户发表在上海户外网网站上的内容，如果没有作者本人的特别声明，均使用<strong>知识共享</strong> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/" target="_blank">署名-非商业性使用-相同方式共享 2.5</a> 许可协议。</p>
      <p>您可以自由：</p>
      <ul>
        <li>复制、发行、展览、表演、放映、广播或通过信息网络传播本作品</li>
        <li>创作演绎作品</li>
      </ul>
      <p>惟须遵守下列条件：</p>
      <ul>
        <li>署名. 您必须按照作者或者许可人指定的方式对作品进行署名。</li>
        <li>非商业性使用. 您不得将本作品用于商业目的。</li>
        <li>相同方式共享. 如果您改变、转换本作品或者以本作品为基础进行创作，您只能采用与本协议相同的许可协议发布基于本作品的演绎作品。</li>
        <li>对任何再使用或者发行，您都必须向他人清楚地展示本作品使用的许可协议条款。</li>
        <li>如果得到著作权人的许可，您可以不受任何这些条件的限制。</li>
        <li>Nothing in this license impairs or restricts the author's moral rights.</li>
      </ul>
      <p>协议的完整法律文本可以参考 <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/legalcode" target="_blank">creativecommons.org 网站</a>。 </p>
      <p>网络中转载上海户外网用户发布的文章，请注意遵守上述协议。传统媒体使用发布在上海户外网的文字或图片，请事先联系作者征得同意。要联系作者，可以使用邮件或悄悄话形式。</p>
      <p>对于违反上述协议使用上海户外网用户作品的行为，上海户外网和作者保留追究法律责任的权利。</p>
      <p class="update">最后更新时间: 2014-05-10</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</block>