<extend name="Base/other"/>

<block name="style">
<link href="__CSS__/other.css" rel="stylesheet">

<style>


</style>
</block>

<block name="content">
  <div class="container">
  <div class="container doc" style="margin-top:0px;margin-bottom:0px;">
    <include file="Public/other_left"/>
    <div style="width:800px;" class="fr MainContent">
      <h2>户外活动</h2>
      <p>上海户外网是一个以户外活动搜索为主体的社区，我们鼓励所有的用户通过这个平台找到志趣相投的出行俱乐部或同伴。</p>
      <h3>什么是“户外活动”</h3>
      <p>户外活动不是一个简单的话题或帖子。</p>
      <p>一个正式的户外活动包含了行前的准备和讨论，归来后的总结、作业以及财务报告等等内容。活动的发起者和参与者在这里进行交流，也把自己的宝贵经验和出行收获在这里分享给更多的驴友。</p>
      <h3>为什么要用专门的活动程序发起活动</h3>
      <p>使用活动程序发布活动，可以更详细的记录您约伴和参加活动的历史，帮助您在这个社区积累个人信用。也方便了约伴时其他用户了解您的旅行经历和户外活动经验。</p>
      <h3>我们支持和推荐的活动类型</h3>
      <p>符合上海户外网主题，即户外活动和自助旅行主题的活动都可以在这里发布。</p>
        <p class="update">最后更新时间: 2014-05-10</p>
      </h3>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</block>