<extend name="Base/other"/>

<block name="style">
<link href="__CSS__/other.css" rel="stylesheet">

<style>


</style>
</block>

<block name="content">
  <div class="container">
  <div class="container doc" style="margin-top:0px;margin-bottom:0px;">
    <include file="Public/other_left"/>
    <div style="width:800px;" class="fr MainContent">
      <h2>工作机会</h2>
      <p><strong>说明：</strong><br>
        * 我们希望能够给户外运动爱好者提供一个优秀的网站，希望每一个使用上海户外网的用户都能有良好的使用体验~<br>
        * 工作地点： 上海市徐汇区肇嘉浜路412号</p>
      <h3>网络推广/运营</h3>
      <p>* 通过市场推广，进行微博、微信、Facebook、Meetup等的业务拓展<br>
        * 有良好的学习、沟通能力，有协作及创新精神<br>
        * 完成公司布局的战略任务，成为户外运动领域的google<br>
        * 有一定的文字底蕴，具有文章撰写能力，如攻略、新闻报道等，一年以上编辑经验人员优先<br>
        * 薪酬4-6K起</p>
      <h3>户外活动领队</h3>
      <p>* 你得有证！导游证！<br>
      	* 全国范围内带队，快速地学习并熟悉掌握户外运动路线的操作流程<br>
        * 热爱旅行，是户外粉就更好！如果有走南闯北的自助旅行经历、或者领队的相关工作经验，那会加分<br>
        * 在带队过程中，有效地完成团队的流程、确保旅行的安全、积极地传播上海户外网的理念<br>
        * 配合产品开发部门完成路线的探路、维护工作<br>
        * 薪酬固定工资+活动带队提成，你懂的~</p>
      <h3>网页设计师</h3>
      <p>* 有良好的审美和简洁的页面设计风格<br>
        * 乐于研究国内外知名网站，对专业有很强的兴趣和执行力，具较强的学习能力<br>
        * 优秀的审美与设计元素组织能力、具备整体规划能力、良好的学习和沟通能力<br>
        * 熟悉图标制作、熟悉网页设计规范工作流程，有大型网站或应用的设计相关经验者优先<br>
        * 互联网UI/UE设计经验3年以上的，加分<br>
        * 对移动终端的设计有经验的，加分<br>
        * 工业设计、平面设计、广告设计等相关专业本科以上学历<br>
        * 薪酬6-12K起</p>
      <h3>前端工程师</h3>
      <p>* 有良好的审美和简洁的页面设计风格<br>
        * 熟悉应该熟悉的工具，并且对新兴的技术有强烈的学习欲<br>
        * 熟悉jquery，或者对网站前端框架有完整的理解和成熟的作品<br>
        * 对UI/UE有良好的认识，对待产品有像素级的严谨态度<br>
        * 能够独立完成从框图草案到最终产品的完整流程<br>
        * 对移动终端的前端设计有丰富经验<br>
        * 擅长手绘会有极大的加分<br>
        * 薪酬6-12K起</p>
      <h3>PHP开发工程师</h3>
      <p>* 要求熟悉一种以上的常见框架<br>
        * 熟悉mysql数据库的开发和调优<br>
        * 了解MVC架构，能够写出严谨、优雅的代码，重视注释<br>
        * 有严谨的逻辑思维能力，能够独立对代码产品进行错误分析和错误追踪<br>
        * 掌握HTML、CSS、JS的技术细节，能够和前端开发人员良好的协同<br>
        * 有团队精神和积极的工作态度<br>
        * 学历/专业/工作经验不拘<br>
        * 薪酬7-10K起</p>
      <h3>网站架构师</h3>
      <p>* 要求有从事大型网站架构工作的经验<br>
        * 掌握mysql数据库的架构分析、设计和调优，熟悉多数据库的负载均衡<br>
        * 熟练驾驭MVC架构的框架设计，重视细节和易用性<br>
        * 对页面访问优化有独到的见解和相关实践<br>
        * 擅长大型系统的设计和部署<br>
        * 愿意以自己的经验和实力带领团队共同进步<br>
        * 薪酬10-15k起</p>
      <p>以上技术类职位请发简历到 hr@designut.com</p>
      <p class="update">最后更新时间: 2014-05-10</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</block>