<extend name="Base/other"/>

<block name="style">
<link href="__CSS__/other.css" rel="stylesheet">

<style>


</style>
</block>

<block name="content">
  <div class="container">
  <div class="container doc" style="margin-top:0px;margin-bottom:0px;">
    <include file="Public/other_left"/>
    <div style="width:800px;" class="fr MainContent">
      <h2>隐私保护</h2>
      <p>隐私权是您的重要权利。我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。</p>
      <h3>用户的邮箱信息</h3>
      <p>当您注册成为上海户外网用户时，我们仅需要您提供一个注册的用户名和一个可以使用的个人邮箱。此邮箱地址仅用于特定情况下的联络，以及经您确认订阅的提示性信息。上海户外网不向用户注册信箱发送任何未经用户许可的内容。在您使用邮件相关的网站功能之前，您会得到明确、清晰的提示。</p>
      <h3>用户的访问记录</h3>
      <p>基于安全和改进服务质量等理由，我们的系统记录所有的用户操作记录。用户在访问本站时的全部详细记录，只限于服务器阅读和分析。</p>
      <p>用户的一些特殊操作，例如修改、删除等，会被长期记录下来，以应对可能的安全事故或恶意破坏。</p>
      <p>按照法律要求，我们长期保存用户的IP地址记录。</p>
      <h3>用户的真实个人资料</h3>
      <p>如果您希望通过本网站提供的功能发起活动或参加其他用户发起的活动，我们需要您提供个人的真实信息，包括真实姓名，身份证件，联系方式，紧急联系人资料等等。</p>
      <p class="caution">注意：在上海户外网输入个人真实资料的唯一入口位于用户页面的“<a href="">实名资料</a>”。</p>
      <p>请勿在网站内的其它页面，按照任何用户的要求提供您的个人信息，如果因此产生个人资料泄漏，本站概不负责。</p>
      <p>上海户外网可能会基于管理需要或法律要求提取您的个人资料，或者因善意确信这样的做法对于以下情况有其必要性：</p>
      <ol>
        <li>您的行为危害了国家法律法规；</li>
        <li>您的行为危害了上海户外网网站或者其他用户的安全；</li>
        <li>您的权利、权益、财产或者生命安全需要。</li>
      </ol>
      <p>任何时候如果您认为上海户外网没有遵守以上原则，请用电子邮件 service@designut.com 联络我们，我们会尽一切努力，在合理适当的范围内尽快改善。</p>
      <h3>如何保护个人隐私</h3>
        <p>勿在公开页面发布您的电话号码，邮箱地址或者其它您认为是隐私的信息。在老街等模块下，我们专门提供了隐藏回复功能供您在需要的情况下使用；</p>
        <p>使用公共电脑登录上海户外网后记得退出登录状态</p>
      <p class="update">最后更新时间: 2014-05-10</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
</block>