<extend name="Base/user"/>



<block name="content">
    <script type="text/javascript" src="__STATIC__/jquery-1.7.2.js"></script>
<script type="text/javascript" src="__STATIC__/xheditor/xheditor-1.2.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/xheditor/xheditor_lang/zh-cn.js"></script>
<link id="xheCSS_default" rel="stylesheet" type="text/css" href="__STATIC__/xheditor/xheditor_skin/default/ui.css">
<link href="__STATIC__/uploadify/uploadify.css" rel="stylesheet">
<div id="main-container" class="container">
        
<!-- menu -->
	<include file="Public/user_menu"/>
	<!-- /menu -->

        
    <div class="span9 bs-docs-example">
        <!-- Contents
        ================================================== -->
        <section id="contents">
            <div class="sidebar-widget"><h5>预定<button style="float:right;" class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </h5></div>
            
            <div>
     <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">床位<span class="check-tips"></span></label>
            <div class="controls">
                {$bed.name}
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="uname" value="">
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="bid" value="{$bed.id}"/>
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            </div>
    </form>
            </div>
        </section>
     
       
    </div>
        </div>

<style>
    #xhePanel label{display: inline;}
</style>
<script type="text/javascript">
    $(function(){
        $(window).resize(function(){
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();
        $('#elem1').xheditor({tools:'simple',upBtnText:'上传',upImgUrl:'__STATIC__/xheditor/upload.php',width:'700',height:'400'});
    })
</script>
</block>
