<extend name="Base/common"/>
<block name="style">
<link href="__CSS__/global.css" rel="stylesheet" />
<link rel="stylesheet" href="__CSS__/login.css">

</block>
<block name="content">
<div id="content" class="login">
        <form method="GET" action="" id="findPassworldForm">
            <input type="hidden" value="" name="service" id="redirect_url">
            <input type="hidden" value="" name="activityChannel" id="activityChannel">
        </form>
        <!--匿名下单成功后查看订单详情登陆显示-->
        <div style="display:none;font-size: 14px; color: rgb(102, 102, 102); border: 1px solid rgb(231, 231, 231); background: none repeat scroll 0% 0% rgb(254, 248, 231); margin: 0px -11px; padding: 4px 0px 7px; text-align: center;" id="nimingOrderDetail">由于你未登录，请先登录后查看订单<br>（账号为<span style=" color:#EC3297">订单联系人的手机号码</span>）</div>
        <div class="lv-box lv-proinfo-list">
            <ul>
                <li>
                    <label for="username" style="width:60px;">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                    <input type="text" placeholder="请输入邮箱/手机/用户名" value="" name="username" id="username" class="lv-text-input">
                </li>
                <li>
                    <label for="password" style="width:60px;">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <input type="password" placeholder="请输入密码" value="" name="password" id="password" class="lv-text-input">
                </li>
                <li>
                    <label for="password" style="width:60px;">确认密码</label>
                    <input type="password" placeholder="再次请输入密码" value="" name="password2" id="password2" class="lv-text-input">
                </li>
            </ul>
        </div>
        <div class="btn_bar">
            <a class="btn_style_1 block"  href="javascript:void(0);">注册</a>
                <a href="{:U('User/login')}" class="fl">立即登陆</a>
            
        </div>
        <div class="mt10">
            <a href=""></a>
        </div>
        
        <!-- 活动页面不需要第三方登录 -->
            <div class="login_other">
                <span class="login_other2">其他登录方式</span>
                <p>
                    <a href="{:U('Oauth/login_qq')}"><i  class="login_sina"></i></a>
                    <a href="{:U('Oauth/login_weibo')}"><i  class="login_qq"></i></a>
                </p>
            </div>      
    </div><!-- /#content -->
</block>
<!--end content-->
<block name="script">
<script>
$(function(){
    /*input 框变色*/
    $("input.lv-input-01").focus(function(e) {
        $(this).addClass("lv-input01-focus");
    });
    $("input.lv-input-01").blur(function(e) {
        $(this).removeClass("lv-input01-focus");
    }); 
    
});
</script>
</block> 