<!doctype html>
<html>
<head>
    <title>我的点评</title>
   <meta charset="UTF-8">
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
 <link rel="stylesheet" href="./css/font-icons.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/list.css">
 <script type="text/javascript" src="./js/zepto.min.js"></script>
    <script type="text/javascript" name="baidu-tc-cerfication" src="./js/lightapp.js"></script>
    <script type="text/javascript" src="./js/globe.js"></script>
	<script type="text/javascript" src="./js/base.js"></script>
<script type="text/javascript" src="./js/filtrateTab.js"></script>

</head>
<body>
<header class="header">我的点评<span class="icon-back"></span>
<a style="color:#fff" href="javascript:"><div class="out_address"><span class="icon-svg14"></span></div></a>
</header>

<div id="wrapper">
    <div id="content">
  
    <div class="tabChange lv-project-list bg-white" style="display:block;">
    	<input type="hidden" name="page" id="PLACEPage" value="1">
    	<ul id="PLACE_data_list">
			        <article>
			            <a href="javascript:void(0);"  class="block">
			                <div style="background-image: url(./images/1342515237045.jpg)" class="pro-pic">
			                </div>
			                <div class="pro-info">
			                    <h3>活动：南京弘阳欢乐世界</h3>
			                    <p class="f-size-10">点评内容：<br/>南京市浦口区大桥北路48号</p>
			                </div>
			            </a>
			        </article>
			        <article>
			            <a href="javascript:void(0);"  class="block">
			                <div style="background-image: url(./images/1376277780639.jpg)" class="pro-pic">
			                </div>
			                <div class="pro-info">
			                    <h3>活动：明孝陵</h3>
			                    <p class="f-size-10">点评内容：<br/>江苏省南京市石象路7号</p>
			                </div>
			            </a>
			        </article>
        </ul>
        <!-- 如果不是最后一页  -->
		<a href="javascript:void(0);" onclick="javascript:" id="show_more" class="view_more">查看更多</a>
    </div>


    </div>
    <footer><div class="footer">
		<span><a style="color:#fff;" href="javascript:">ldl123</a></span>
		<span id="logout">注销</span>
		</div>
		
		<p style="line-height:30px;"><span>©2014上海户外网</span></p></footer>
</div>



</body>
</html>