<!DOCTYPE html PUBLIC >
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <meta name="keywords" content="介护家养老云平台、居家养老系统、社区养老云平台、养老院管理软件、养老院管理系统、养老院软件">
    <meta name="description" content="介护家提供养老行业一体化整体解决方案，本平台提供居家养老、社区养老、机构养老等模式的解决方案，并跟随市场快速响应客户需求。">
	<title>介护家养老云平台</title>
	<link rel="stylesheet" href="__CSS__/index/index.css">
	<script src="js/hm.js"></script>
	<script type="text/javascript">
		if(top.location != location){ 
		    top.location.href= location.href; 
		} 
	</script>
</head>
<body class="wid_1130" style="background: #FFFFFF !important;">
	<!-- 上方工具条 -->
	<!-- 登录区域 -->
	<div class="flexslider">
		<ul class="slides">
		    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
			    <div class="firstP">
					<div class="header header_index">
						<div class="wid1000">
						<div class="logo fl"><a href="">
							<img src="__IMG__/index/logo_2.png" draggable="false">
							<!--<img src="img/logo_myself.png" height="24px"/>-->
							<!--<img src="img/logo_public.png" height="24px"/>-->
						</a></div>
							<div class="hotline"><i></i>服务电话：400-800-0088</div>
						</div>
					</div>
			    	<div class="login_index">
						<div class="login_block ">
					        <div class="login_text">
					        	<div id="rotate_Circle" style="transform: rotate(1051deg);"></div>
								<h2 title="欢迎体验最高端的智能化养老服务">欢迎体验最高端的智能化养老服务</h2>
								<p>我们提供全面、实用的介护家智慧养老应用</p>
								<p>你将在这里享受到专业化、个性化的一站式介护家智慧养老服务</p>
							</div>
					    </div>
				    </div>
				</div>
		    </li>
		</ul>
		<div class="login_content" style="right: 174.719px;">
			
				<div class="login_head">
					登录
				</div>
				<div class="login_form">
					 <form method="post" action="/index.php?s=/home/user/login.html" id="loginForm">
					 	<input type="hidden" name="btncommit" id="btncommit" value="1">
						<div class="err_txt "></div>
						<div class="input1">
							<i class="icon_admin"></i>
							<input type="text" class="login_name" id="loginName" name="username" placeholder="账号" onkeydown="showUl(this,this.value)" onfocus="showUl(this,this.value)" value="">
						</div>
						<div class="input1">
							<i class="icon_psd"></i>
							<input type="password" name="password" placeholder="密码">
						</div>
						<div class="input1" style="height: 20px;">
							<div class="checkbox_input">
								<label class="label_check"><input type="checkbox" id="autoLogin" name="autoLogin" onclick="setupLabel()">一周内自动登录</label>
							</div>
							<a class="" href="">忘记密码？</a>
						</div>
						<div class="input1 input1_btn">
						    <input type="hidden" id="inputPassword" class="span3" name="verify" value="index" />
							<button type="submit" class="login_btn" id="loginBtn" style="cursor:pointer">登&nbsp;录</button>
							<button type="button" style="display: none;" id="waitLoginBtn"><img src="__IMG__/index/loading.gif" draggable="false"></button>
						</div>
						
					</form>
				</div>
			
			
		</div>
	<ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a>2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>
	<!-- 模块应用简介 -->
	<div class="jcylgj_index" id="jcylgj_index">
		<h2 title="专注养老行业解决方案"></h2>
		<div class="jcylgj_content">
			<ul>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/weclome10.png" alt="介护家智慧养老云" title="运营商管理">
						<p>运营商管理</p>
					</div>
					<div class="jcylgj_content_r">
						<p>账户总览</p>
						<p>服务站管理</p>
						<p>账号管理</p>
						<p class="last_p">机构互联网化</p>
					</div>
				</li>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j01.jpg" alt="介护家智慧养老云" title="会员与生活">
						<p>会员与生活</p>
					</div>
					<div class="jcylgj_content_r">
						<p>会员管理</p>
						<p>生活服务</p>
						<p>一卡通服务</p>
						<p class="last_p">呼叫中心</p>
					</div>
				</li>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j02.jpg" alt="介护家智慧养老云" title="安全管理">
						<p>安全管理</p>
					</div>
					<div class="jcylgj_content_r">
						<p>室内定位</p>
						<p>室外定位</p>
						<p>跌倒报警</p>
						<p class="last_p">电子围栏</p>
					</div>
				</li>
				<li class="last_li">
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j03.jpg" alt="介护家智慧养老云" title="健康服务">
						<p>健康服务</p>
					</div>
					<div class="jcylgj_content_r">
						<p>健康档案</p>
						<p>健康检测</p>
						<p>能力评估</p>
						<p class="last_p">健康报告</p>
					</div>
				</li>
			</ul>
			<ul>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j04.jpg" alt="介护家智慧养老云" title="财务管理">
						<p>财务管理</p>
					</div>
					<div class="jcylgj_content_r">
						<p>会员费用管理</p>
						<p>财务管理</p>
						<p>消耗品管理</p>
						<p class="last_p">固定资产管理</p>
					</div>
				</li>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j05.jpg" alt="介护家智慧养老云" title="入住服务">
						<p>入住服务</p>
					</div>
					<div class="jcylgj_content_r">
						<p>接待登记</p>
						<p>入住管理</p>
						<p>床位配置</p>
						<p>日常管理</p>
					</div>
				</li>
				<li>
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j06.jpg" alt="介护家智慧养老云" title="系统服务">
						<p>系统服务</p>
					</div>
					<div class="jcylgj_content_r">
						<p>工作人员管理</p>
						<p>日志管理</p>
						<p>本地化部署</p>
						<p class="last_p">数据报表</p>
					</div>
				</li>
				<li class="last_li">
					<div class="jcylgj_content_l">
						<img src="__IMG__/index/index_j07.jpg" alt="介护家智慧养老云" title="应用市场">
						<p>应用市场</p>
					</div>
					<div class="jcylgj_content_r">
						<p>订单与发票</p>
						<p>套餐预订/购买</p>
						<p>个性化定制服务</p>
						<p class="last_p">APP/微信公众号</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- 大数据 -->
	<div class="bigdata_index" id="bigdata_index">
		<h2 title="大数据"></h2>
		<div class="bigdata_content">
			<p>我们有互联网行业最专业，最权威的大数据专家，</p>
               <p>通过他们的专业能力为我们建立起最合理的定制化处理系统，为用户提供真正贴心，舒适的服务体验。</p>
		    <div class="rotate_block">
		    	<div class="rotate_bg" id="rotate1"></div>
		        <div class="rotate_c">
		        	<h3>健康大数据</h3>
		        	<p>以健康数据为核心的大数据分析，</p>
		        	<p>输出有行业公信力的权威健康报告</p>
		        </div>
		    </div>
		    <div class="rotate_block">
		    	<div class="rotate_bg" id="rotate2"></div>
		        <div class="rotate_c">
		        	<h3>行业大数据</h3>
		        	<p>于养老服务商运营数据的</p>
		        	<p>大数据分析，输出行业报告</p>
		        </div>
		    </div>
		</div>
	</div>
	<!-- 平台优势简介 -->
	<div class="znyj_index" id="znyj_index">
		<div class="znyj_content">
			<img src="__IMG__/index/index_b15.jpg" width="1007" alt="介护家智慧养老云">
               <p class="znyj_text">
                   <span>平台通过大数据需求分析，</span>
                   <span>针对性的提供了4大类智能硬件，</span>
                   <span>配合介护家智慧养老平台更高效，</span>
                   <span>更便捷的为运营商服务</span>
               </p>
		</div>
	</div>
	<!-- 老人服务数量 -->
	<div class="taocan_index yunys_index">
		<h2 title="套餐介绍"></h2>
		<p>国内领先的介护家智慧养老云平台，无论身在何处，均能获得最佳的服务体验</p>
           <p></p>
		<div class="yunys_content">
			<img src="__IMG__/index/index_b12.png" width="657" height="458" alt="介护家智慧养老云">
		</div>
	</div>
	
	<div class="ad_index_0">
		<div class="ad_index_0_content">
			<span>介护家智慧养老云平台已陆续服务全国</span><span>140余万<font>位老人</font></span>
		</div>
	</div>
	<!-- 成功案例 -->
	<div class="anli_index">
		<h2 title="成功案例"></h2>
		<div class="anli_content">
				<div class="anli_line01">
					<ul class="" style="width: 1926px;">
						<li>
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_anli01.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
						<li>
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_anli02.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
						<li class="last_li">
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_anli03.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
						<li>
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_anli04.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
						<li>
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_b08.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
						<li class="last_li">
							<div class="anli_line01_l">
								<img src="__IMG__/index/index_b09.jpg" height="89" alt="介护家智慧养老云">
							</div>
						</li>
					</ul>
					
				
			</div>
			<div class="chgong_anli_prev"></div>
			<div class="chgong_anli_next"></div>
		</div>
	</div>
		
	<div class="ad_index_1">
		<div class="ad_index_1_content"></div>
	</div>
	<!--<div class="healthy_gm_footer m_t30px">
		<div class="healthy_footer_top">
			<div class="healthy_footer_in clearfix">
				<dl class="dla">
					<dt>康老汇</dt>
					<dd><a href="/" target="_blank">康老汇首页</a></dd>
					<dd><a href="" target="_blank">介护家智慧养老云平台</a></dd>
					<dd><a href="/" target="_blank">商城</a></dd>
					<dd><a href="/" target="_blank">养老圈</a></dd>
					<dd><a href="/orgz/list_0_0_0_0_0_0_1.shtml" target="_blank">养老优选</a></dd>
					<dd><a href="/yst/" target="_blank">养生堂</a></dd>
				</dl>
				<dl class="dlb" style="width:300px;">
					<dt>介护家智慧养老云平台</dt>
					<dd><a href="#jcylgj_index">养老解决方案</a></dd>
					<dd><a href="#bigdata_index">大数据服务</a></dd>
					<dd><a href="#znyj_index">智能硬件</a></dd>
				</dl>
				<dl class="dlc" style="width:200px;">
					<dt>联系我们</dt>
					<dd><a href="http://www.sankai.com/introduction.html" target="_blank">关于我们</a></dd>
					<dd>客服电话：400-061-0099</dd>
					<dd>技术支持：010-82346868-825</dd>
				</dl>
			</div>
		</div> -->
	<!-- <div class="Floatfixed" >
		<ul>
			<li class="zx"><a href="javascript:;" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=2275997112&site=qq&menu=yes','newwindow','toolbar=no,scrollbars=yes,resizable=no,top=50%,left=50%,width=800,height=600')"></a></li>
			<li class="ks" style="display: list-item;"><a href="javascript:;"></a></li>
		</ul>
	</div> -->
	
	<script type="text/javascript" src="__JS__/jquery/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/jquery.JPlaceholder.js"></script>
	<script type="text/javascript" src="__JS__/slider.js"></script>
	<!-- 大图轮播JS文件 -->
	<script type="text/javascript" src="__JS__/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		$('.flexslider').flexslider(
		{
		   directionNav: true,
		   pauseOnAction: false,
		   pauseOnHover:true,
		   slideshowSpeed: 5000// 自动播放速度毫秒
		});//大图轮播
		
		var x,y,n=0,ny=0,rotINT,rotYINT
		function rotateDIV()
		{
			x=document.getElementById("rotate_Circle")
			clearInterval(rotINT)
			rotINT=setInterval("startRotate()",20)
		}
		function startRotate()
		{
			n=n+1
			ny= ny-1
			x.style.transform="rotate(" + n + "deg)"
			x.style.webkitTransform="rotate(" + n + "deg)"
			x.style.OTransform="rotate(" + n + "deg)"
			x.style.MozTransform="rotate(" + n + "deg)"
		}
		rotateDIV();
		$(function(){
//			rotateDIV();
			$(".znyj_content_l li").click(function(){
				var eq=$(this).index();
				$(this).addClass("on").siblings().removeClass("on");
				$(".znyj_content_r li").eq(eq).css("display","block").siblings().css("display","none");
			});
			
			$('.anli_line01 ul').slider({
			    prev_btn:'chgong_anli_prev',
			    next_btn:'chgong_anli_next',
			    count:3
			  })//成功案例
			
		});
		
		$(function () {
	        $("#loginForm").submit(function () {
	            var loginName = $(this).find("input[name='loginName']");
	            var password = $(this).find("input[name='password']");
	            var errMsg = $(this).find(".err_txt");
	            if (loginName.val()=="") {
	                errMsg.empty().append("账号/手机号不能为空!");
	                return false;
	            }
	            if (password.val()=="") {
	                errMsg.empty().append("登录密码不能为空!");
	                return false;
	            }
	            
	            $("#loginBtn").hide();
	            $("#waitLoginBtn").show();
	        });
	        /* alert('')
	        var logout_f = '';
	        if(logout_f != null){
	        	alert(logout_f)
	        	$("#logout_button").attr("style","display: block;")
	        } */
	    });
		function checkFunc(){
			var obj = $('#autoLogin');
			if(obj.attr("checked")){
				obj.removeAttr('checked');
				setupLabel();
			}else{
				obj.attr("checked","checked");
				setupLabel();
			}
		}
		
		$(function(){
			$("input[name='loginName']").focus(function () { 
				  $(".err_txt").text("");
			});
		      $("input[name='password']").focus(function () { 
	              $(".err_txt").text("");
	        });
		});
		
		function setLoginRight(){
			var r_l=$(window).width()-($(".hotline").offset().left+$(".hotline").width())
		    $(".login_content").css("right",r_l+"px");
		}
		setLoginRight();
		$(window).resize(function(){
			setLoginRight();
		})

	</script>
	<!-- 页脚 -->
	
<div class="healthy_gm_footer m_t30px">
	<div class="healthy_footer_top">
		<div class="healthy_footer_in clearfix">
			<dl class="dla">
				<dt>养老</dt>
				<dd><a href="" target="_blank">康老汇首页</a></dd>
				<dd><a href="" target="_blank">介护家智慧养老云平台</a></dd>
				<dd><a href="" target="_blank">商城</a></dd>
				<dd><a href="" target="_blank">养老圈</a></dd>
				<dd><a href="" target="_blank">养老优选</a></dd>
				<dd><a href="" target="_blank">养生堂</a></dd>
			</dl>
			<dl class="dlb" style="width:300px;">
				<dt>介护家智慧养老云平台</dt>
				<dd><a href="">养老解决方案</a></dd>
				<dd><a href="">大数据服务</a></dd>
				<dd><a href="">智能硬件</a></dd>
			</dl>
			<dl class="dlc" style="width:200px;">
				<dt>联系我们</dt>
				<dd><a href="" target="_blank">关于我们</a></dd>
				<dd>客服电话：400-800-0088</dd>
				<dd>技术支持：010-8762891-289</dd>
			</dl>
		</div>
	</div>
	<div class="healthy_footer_bottom">
		<p>Copyright@2016 ALL Rights Reserved. 贯涌科技 版权所有</p>
		<p>沪ICP备14006209号-3</p>
	</div>
	<div class="Floatfixed">
		<ul>
			<li class="zx"><a href="javascript:;" onclick="javascript:window.open(&#39;http://wpa.qq.com/msgrd?v=3&amp;uin=2213703197&amp;site=qq&amp;menu=yes&#39;,&#39;newwindow&#39;,&#39;toolbar=no,scrollbars=yes,resizable=no,top=50%,left=50%,width=800,height=600&#39;)"></a></li>
			<li class="ks" style="display: none;"><a href="javascript:;"></a></li>
		</ul>
	</div>
</div>




</body></html>