<extend name="Base/index"/>
<block name="style">
    <link href="__CSS__/club2.css" type="text/css" rel="stylesheet" />
</block>
<block name="content">
    <div class="grid-ctn" id="main">
       <include file="Club/header"/>
    
    <div class="profile-content clearfix">
      <div class="grid-24">
        <div class="panel-lv2">
  <div class="hd">
    <div class="switch-body">
      <a href="/club/118465/relation">所有留言</a>
          </div>
  </div>
  <div class="bd">
    <div class="profile-album clearfix">
                       <div id="comment_club" style="margin-top:5px;"> {:hook('documentDetailAfter',$info)} </div>
 
                            </div>
  </div>
    </div>
    </div>
    </div>
    </div>
</block>
<block name="script">
</block>    