<extend name="Base/index"/>
<block name="style">
<!-- <link href="__CSS__/club.css" type="text/css" rel="stylesheet" /> -->
<link href="__CSS__/club2.css" type="text/css" rel="stylesheet" />
</block>
<block name="content">
<div class="grid-ctn" id="main">
<include file="Club/header"/>
<div class="profile-content clearfix">
      <div class="grid-17">
        <div class="panel-lv2">
  <div class="bd">
    <div class="profile-feed">
      <ul error-msg="没有新的动态了" loading-class=".nf-loading" total-page="12" cur-page="0" item-selector=".profile-feed ul li" class="ext-scroll-load">
                                        <li>
            <div class="clearfix">
              <div class="profile-feed-info">
                <div class="profile-feed-date">
                  <strong>22</strong><em>五月</em>
                </div>
              </div>
              <div class="profile-feed-content">
                                <div class="pointer"><i class="ico-activity-feed"></i></div>
                  
                  <div class="feed-content">
                    <div class="tit"><a target="_blank" title="丽江驴友之家夏季行程-2014年6月徒步雨崩六日活动汇总 " href="/activity/view/786717">丽江驴友之家夏季行程-2014年6月徒步雨崩六日活动汇总 </a></div>
                    <div class="img-list">
                                                                        <a target="_blank" href="/activity/view/786717"><img src="http://tnf-activity.b0.upaiyun.com/2014/05/3a3bfbb3c2215041.jpg!90x70.jpg"></a>
                                                                  </div>
                  </div>
                  <div class="feed">
                     <ul>
                        <li><span title="浏览" class="view"></span><em>123</em></li>
                        <li><span title="评论" class="comment">评论</span><em>(123)</em></li>
                        <li><span title="喜欢" class="like">喜欢</span><em>(123)</em></li>
                    </ul>
                 </div>
            </div>
            </li>
       </ul>  
    </div>
    <div class="display-none"><div class="pager"><a href="/ajax/block/view/iuser/home?__args[uid]=85465&amp;page=1">下一页</a></div></div>
  </div>
</div>
      </div>
      <div class="grid-7">
            <div class="panel-rv2 profile-relationv2">
    <div class="hd">
      <h2>相关活动</h2>
    </div>
    <div class="bd">
      <ul class="hot-equipment clearfix">
              </ul>
    </div>
  </div>
      </div>
    </div>
  </div>
</block>

<block name="script">
</block>