<extend name="Base/index"/>
<block name="style">
    <link href="__CSS__/club2.css" type="text/css" rel="stylesheet" />
</block>
<block name="content">
	<div class="grid-ctn" id="main">
	   <include file="Club/header"/>
	
	<div class="profile-content clearfix">
      <div class="grid-24">
        <div class="panel-lv2">
  <div class="hd">
    <div class="switch-body">
      <a href="/club/118465/relation">TA的粉丝</a>
      <a class="focus" href="/club/118465/relation/follow">TA关注的</a>
          </div>
    <div class="profile-followers">已经有159人关注TA</div>
  </div>
  <div class="bd">
    <div class="profile-relation-content clearfix">
              <div class="profile-relation-item" style="border-color: rgb(200, 200, 200);">
          <div class="avatar">
            <a href="/user/594991" rel="nofollow" target="_blank"><img width="54" height="54" title="正格户外领队大头" alt="正格户外领队大头" src="http://tnf-avatar.b0.upaiyun.com/2014/03/13940857280031.png!56x56.jpg"></a>          </div>
          <ul class="info">
            <li><a target="_blank" href="/user/594991" rel="nofollow">正格户外领队大头<span class="v-"></span></a></li>
            <li>
                                                <i class="follow-m"></i>互相关注
                 
                          </li>
            <li>关注:<em>1</em><i>|</i>粉丝:<em>1</em></li>
          </ul>
          <div class="intro" style="display: block;">简介：我很懒，什么都不想写。</div>
          <div class="action-hover follow-color" style="display: none;">
                                  </div>
        </div>
              <div class="profile-relation-item" style="border-color: rgb(200, 200, 200);">
          <div class="avatar">
            <a href="/user/594992" rel="nofollow" target="_blank"><img width="54" height="54" title="正格户外领队肖军" alt="正格户外领队肖军" src="http://tnf-avatar.b0.upaiyun.com/2014/03/13940858560879.png!56x56.jpg"></a>          </div>
          <ul class="info">
            <li><a target="_blank" href="/user/594992" rel="nofollow">正格户外领队肖军<span class="v-"></span></a></li>
            <li>
                                                <i class="follow-rl"></i>已关注
                 
                          </li>
            <li>关注:<em>0</em><i>|</i>粉丝:<em>1</em></li>
          </ul>
          <div class="intro" style="display: block;">简介：我很懒，什么都不想写。</div>
          <div class="action-hover follow-color" style="display: none;">
                                  </div>
        </div>
              <div class="profile-relation-item" style="border-color: rgb(200, 200, 200);">
          <div class="avatar">
            <a href="/user/594993" rel="nofollow" target="_blank"><img width="54" height="54" title="正格户外领队文飞" alt="正格户外领队文飞" src="http://tnf-avatar.b0.upaiyun.com/2014/03/13940860680387.png!56x56.jpg"></a>          </div>
          <ul class="info">
            <li><a target="_blank" href="/user/594993" rel="nofollow">正格户外领队文飞<span class="v-leader"></span></a></li>
            <li>
                                                <i class="follow-m"></i>互相关注
                 
                          </li>
            <li>关注:<em>2</em><i>|</i>粉丝:<em>1</em></li>
          </ul>
          <div class="intro" style="display: block;">简介：人呐，就是要过的开心！！！</div>
          <div class="action-hover follow-color" style="display: none;">
                                  </div>
        </div>
              <div class="profile-relation-item" style="border-color: rgb(200, 200, 200);">
          <div class="avatar">
            <a href="/user/594995" rel="nofollow" target="_blank"><img width="54" height="54" title="正格户外华崽" alt="正格户外华崽" src="http://tnf-avatar.b0.upaiyun.com/2014/03/13940862830418.png!56x56.jpg"></a>          </div>
          <ul class="info">
            <li><a target="_blank" href="/user/594995" rel="nofollow">正格户外华崽<span class="v-"></span></a></li>
            <li>
                                                <i class="follow-m"></i>互相关注
                 
                          </li>
            <li>关注:<em>1</em><i>|</i>粉丝:<em>2</em></li>
          </ul>
          <div class="intro" style="display: block;">简介：煜見你，是我此生無可避免的情傑。</div>
          <div class="action-hover follow-color" style="display: none;">
                                  </div>
        </div>
              <div class="profile-relation-item" style="border-color: rgb(200, 200, 200);">
          <div class="avatar">
            <a href="/user/594998" rel="nofollow" target="_blank"><img width="54" height="54" title="正格户外大霞" alt="正格户外大霞" src="http://tnf-avatar.b0.upaiyun.com/2014/03/13940881300526.png!56x56.jpg"></a>          </div>
          <ul class="info">
            <li><a target="_blank" href="/user/594998" rel="nofollow">正格户外大霞<span class="v-"></span></a></li>
            <li>
                                                <i class="follow-m"></i>互相关注
                 
                          </li>
            <li>关注:<em>1</em><i>|</i>粉丝:<em>2</em></li>
          </ul>
          <div class="intro" style="display: block;">简介：我很懒，什么都不想写。</div>
          <div class="action-hover follow-color" style="display: none;">
                                  </div>
        </div>
          </div>
      </div>
      </div>
</div>
<script type="text/javascript">
</script>      </div>
    </div>
</block>

<block name="script">
</block>