
.global-nav .bn-more span{display:inline-block;*display:inline;zoom:1;vertical-align:baseline}
.global-nav .arrow{position:relative;top:-2px;left:2px;border-width:3px 3px 0;border-color:#d5d5d5 transparent transparent transparent;border-style:solid dashed dashed dashed;width:0;height:0;font-size:0;line-height:0}
.global-nav a:hover .arrow{*top:0;border-color:#fff transparent transparent transparent}
.global-nav .more-active{position:relative;z-index:10}
.global-nav .more-active a:link,.global-nav .more-active a:visited{color:#369}
.global-nav .more-active .arrow{border-color:#fff transparent transparent transparent}
.global-nav .more-active .bn-more span{color:#fff}
.global-nav .more-active .more-items{display:block;padding:10px 0;_width:0;border:1px solid #e6e6e6;background:#fff;white-space:nowrap;top:28px}
.global-nav .more-active .more-items table,.global-nav .more-active .more-items td{width:100%;white-space:nowrap;border-collapse:collapse}
.global-nav .more-active .more-items li{display:block}
.global-nav .more-active .more-items a{display:block;padding:0 20px;line-height:28px}
.global-nav .more-active .more-items a:link,.global-nav .more-active .more-items a:visited{color:#3d3d3d}
.global-nav .more-active .more-items a:hover{color:#3d3d3d;background-color:#f6f6f6}
.global-nav .more-items{display:none;position:absolute;left:0}
.global-nav{height:28px;color:#d5d5d5;background-color:#545652;min-width:950px}
.global-nav a:link,.global-nav a:visited,.global-nav a:hover,.global-nav a:active{color:#d5d5d5}
.global-nav a:hover,.global-nav a:active{color:#fff;background-color:transparent}
.global-nav .global-nav-items{font-size:0}
.global-nav .global-nav-items li{display:inline-block;*display:inline;zoom:1;line-height:28px;font-size:12px;vertical-align:baseline}
.global-nav .global-nav-items a{display:inline-block;*display:inline;zoom:1;padding:0 12px;height:28px}
.global-nav .top-nav-info{float:right;margin:0 0px 0 0;line-height:28px}
.global-nav .top-nav-info ul,.global-nav .top-nav-info li{display:inline-block;*display:inline;zoom:1}
.global-nav .top-nav-info a{*display:inline;zoom:1;margin:0;padding:0 12px;height:28px}
.global-nav .nav-user-account .more-items{left:auto;right:6px}
.global-nav .more-active .lnk-remind:link,.global-nav .more-active .lnk-remind:visited,.global-nav .more-active .lnk-remind:hover,.global-nav .more-active .lnk-remind:active{color:#fff}
.global-nav-a .bd{max-width:1600px;margin:0 auto}
.global-nav-b .bd{max-width:1440px;margin:0 auto}
.global-nav .top-nav-reminder{position:relative;float:right;margin-right:5px;line-height:28px}
.global-nav .top-nav-reminder a{position:relative}
.global-nav .top-nav-reminder .lnk-remind{display:inline-block;*display:inline;zoom:1;padding:0 12px;height:28px}
.global-nav .top-nav-reminder .num{position:absolute;top:4px;*top:0;left:3em;padding:0 3px;margin-left:5px;color:#fff;line-height:1.5;background-color:#f7996d;*margin-top:4px}
.global-nav .top-nav-reminder .num i{position:absolute;width:0;height:0;left:-9px;top:50%;margin-top:-6px;line-height:0;border-color:transparent #f7996d transparent transparent;border-style:dashed solid dashed dashed;border-width:6px 6px 3px 5px;pointer-events:none}
.global-nav .top-nav-reminder .more-items{position:absolute;z-index:999;padding:0;width:280px;left:-125px;top:28px;border:1px solid #e6e6e6;background:#fff;white-space:normal;word-wrap:break-word}
.global-nav .top-nav-reminder .more-items a{display:inline;padding:0;line-height:inherit}
.global-nav .top-nav-reminder .more-items a:link{color:#369}
.global-nav .top-nav-reminder .more-items a:visited{color:#669}
.global-nav .top-nav-reminder .more-items a:hover{color:#fff;background-color:#039}
.global-nav .top-nav-reminder .more-items a:active{color:#fff;background-color:#f93}
.global-nav .top-nav-reminder .more-items .bd{padding-top:16px;color:#3e3e3e;line-height:1.5}
.global-nav .top-nav-reminder .more-items .bd p{padding:0 15px 13px 15px;border-bottom:1px solid #f0f0f0}
.global-nav .top-nav-reminder .more-items .ft a{display:block;width:100%;padding:4px 0;text-align:center;background-color:#fafafa}
.global-nav .top-nav-reminder .more-items .ft a:hover,.global-nav .top-nav-reminder .more-items .ft a:active{background-color:#f5f5f5;color:#369}
.global-nav .top-nav-reminder .more-items p{margin:0;color:#999}
.global-nav .top-nav-reminder .more-items li{overflow:hidden;zoom:1;padding:13px 15px;border-bottom:1px solid #f0f0f0}
.global-nav .top-nav-reminder .more-items li .pic{float:left;margin-right:8px}
.global-nav .top-nav-reminder .more-items li .content{width:auto;overflow:hidden;zoom:1}
.global-nav .top-nav-reminder .more-items li .content a{line-height:1.4}
.global-nav .top-nav-reminder .more-items li .item-req{padding:0;border:0}
.global-nav .top-nav-reminder .more-items li .item-req .ops{width:49px;float:right;*display:inline;position:static;overflow:hidden;color:#aaa}
.global-nav .top-nav-reminder .more-items li .item-req .ops a:link,.global-nav .top-nav-reminder .more-items li .item-req .ops a:visited,.global-nav .top-nav-reminder .more-items li .item-req .ops a:hover,.global-nav .top-nav-reminder .more-items li .item-req .ops a:active{color:#aaa}
.global-nav .top-nav-reminder .more-items li .item-req .ops a:hover,.global-nav .top-nav-reminder .more-items li .item-req .ops a:active{background-color:#aaa;color:#fff}
.global-nav .top-nav-reminder .more-items li .unread{background-color:transparent}
.global-nav .top-nav-reminder .more-items li .new-reply-item{overflow:hidden}
.global-nav .top-nav-reminder .more-items li .new-reply-item .content{float:left;width:186px}
.top-nav-reminder.more-active{color:#fff}
.top-nav-reminder.more-active .num{z-index:1000}
.top-nav-reminder.more-active .more-items{display:block;z-index:999}
body #db-pay-tips{top:136px}
.perf-metric{position:absolute;margin-left:-200px}
.nav{width:100%;min-width:950px;overflow:hidden;zoom:1;margin-bottom:40px}
.nav .nav-wrap{border-bottom:1px solid #e5ebe4}
.nav .nav-primary,.nav .nav-secondary{width:950px;margin:0 auto;padding-bottom:0;overflow:hidden;zoom:1}
.nav .nav-primary{position:relative;padding:10px 0 5px;overflow:hidden;zoom:1}
.nav .nav-logo{float:left;height:56px;width:145px;margin:0 13px 0 0;background:url(http://img3.douban.com/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) no-repeat 0 12px;background-image:-webkit-image-set(url(http://img3.douban.com/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x,url(http://img3.douban.com/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-moz-image-set(url(http://img3.douban.com/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x,url(http://img3.douban.com/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-ms-image-set(url(http://img3.douban.com/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x,url(http://img3.douban.com/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-o-image-set(url(http://img3.douban.com/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x,url(http://img3.douban.com/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x)}
.nav .nav-logo a{display:block;width:100%;height:100%;overflow:hidden;line-height:100em}
.nav .nav-logo a:hover,.nav .nav-logo a:active{background:none!important}
.ua-iphone .nav{-webkit-text-size-adjust:none}
.nav-search{position:relative;overflow:hidden;zoom:1;padding:10px 0 15px 0}
.nav-search input{-webkit-appearance:none;border:0;background:transparent}
.nav-search label{position:absolute;left:11px;top:10px;line-height:30px;cursor:text;color:#bbb;width:auto}
.nav-search::-webkit-input-placeholder{color:#bbb}
.nav-search:-moz-placeholder{color:#bbb}
.nav-search::-moz-placeholder{color:#bbb}
.nav-search:-ms-input-placeholder{color:#bbb}
.nav-search .inp{float:left;width:470px;height:34px;text-align:center;_margin-right:-3px;cursor:text;background:url(http://img3.douban.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png) no-repeat 0 0}
.nav-search .inp input{background:#fff;width:96%;margin:0;text-align:left;height:30px;padding-left:10px;height:28px\9;line-height:28px\9;outline:0}
.nav-search legend{display:none}
.nav-search fieldset{border:0;padding:0;margin:0;position:static}
.nav-search .inp-btn{position:relative;left:-1px;*top:-1px;width:37px;height:34px;zoom:1;overflow:hidden}
.nav-search .inp-btn input{width:100%;height:100%;font-size:0;padding:35px 0 0 0;overflow:hidden;background:url(http://img3.douban.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png) no-repeat 0 -40px;color:transparent;cursor:pointer}
.nav-search .inp-btn input:hover{background-position:-40px -40px}
.nav-search .inp-btn input:active{background-position:0 -40px}
.nav-secondary{width:100%;zoom:1}
.nav-secondary:after{content:'\0020';display:block;clear:both}
.nav-secondary img{vertical-align:middle;margin-right:4px}
.nav-secondary ul{margin:9px 0}
.nav-secondary li{display:inline;margin-right:30px}
.nav-secondary .nav-items{float:none;*padding-bottom:8px;zoom:1;font-size:13px}
.nav-secondary .nav-items li{_float:left;_display:inline}
#db-nav-book .nav-search .inp{background-image:url(http://img3.douban.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png)}
#db-nav-book .nav-search .inp-btn input{background-image:url(http://img3.douban.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png)}
#db-nav-movie .nav-search .inp{background-image:url(http://img3.douban.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
#db-nav-movie .nav-search .inp-btn input{background-image:url(http://img3.douban.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
#db-nav-group .nav-search .inp{background-image:url(http://img3.douban.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
#db-nav-group .nav-search .inp-btn input{background-image:url(http://img3.douban.com/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
#db-nav-music .nav-search .inp{background-image:url(http://img3.douban.com/f/shire/b78a848a3825bda97797e3c1816ad3b01139aa1c/pics/nav1/nav_mu_bg.png)}
#db-nav-music .nav-search .inp-btn input{background-image:url(http://img3.douban.com/f/shire/b78a848a3825bda97797e3c1816ad3b01139aa1c/pics/nav1/nav_mu_bg.png)}
#db-nav-location{overflow:hidden;zoom:1;background:#f6f5f2}
#db-nav-location .nav-wrap{border:0}
#db-nav-location .nav-items,#db-nav-location .local-label{margin:10px 0 0}
#db-nav-location .nav-logo{width:124px;background-image:url(http://img3.douban.com/f/shire/b6b5dd91a7fac86a3980593c2c477b5bdfd2c7d6/pics/nav/lg_location_a11_1.png);background-image:-webkit-image-set(url(http://img3.douban.com/f/shire/b6b5dd91a7fac86a3980593c2c477b5bdfd2c7d6/pics/nav/lg_location_a11_1.png) 1x,url(http://img3.douban.com/f/shire/a1f3a9cfa98c37e1059c2b0dc4e3da1ea6757718/pics/nav/lg_local@2x.png) 2x);background-image:-moz-image-set(url(http://img3.douban.com/f/shire/b6b5dd91a7fac86a3980593c2c477b5bdfd2c7d6/pics/nav/lg_location_a11_1.png) 1x,url(http://img3.douban.com/f/shire/a1f3a9cfa98c37e1059c2b0dc4e3da1ea6757718/pics/nav/lg_local@2x.png) 2x);background-image:-ms-image-set(url(http://img3.douban.com/f/shire/b6b5dd91a7fac86a3980593c2c477b5bdfd2c7d6/pics/nav/lg_location_a11_1.png) 1x,url(http://img3.douban.com/f/shire/a1f3a9cfa98c37e1059c2b0dc4e3da1ea6757718/pics/nav/lg_local@2x.png) 2x);background-image:-o-image-set(url(http://img3.douban.com/f/shire/b6b5dd91a7fac86a3980593c2c477b5bdfd2c7d6/pics/nav/lg_location_a11_1.png) 1x,url(http://img3.douban.com/f/shire/a1f3a9cfa98c37e1059c2b0dc4e3da1ea6757718/pics/nav/lg_local@2x.png) 2x)}
#db-nav-location .nav-items{float:left;font-size:0;margin-top:13px}
#db-nav-location .nav-items li{position:relative;display:inline-block;*display:inline;zoom:1;font-size:15px;margin:0 15px;white-space:nowrap}
#db-nav-location .nav-items li a:link,#db-nav-location .nav-items li a:visited{color:#643}
#db-nav-location .nav-items li span{color:#000}
#db-nav-location .nav-items li a:hover,#db-nav-location .nav-items li a:active{color:#fff;background:#643}
#db-nav-location .local-label{float:left;margin-right:30px;margin-top:13px;padding:0}
#db-nav-location .local-label a.label:link,#db-nav-location .local-label a.label:visited,#db-nav-location .local-label a.label:hover,#db-nav-location .local-label a.label:active{display:inline-block;float:left;padding:5px 10px 6px;font:700 14px / 1 tahoma,arial,'stheiti','黑体',sans-serif;background-color:#dedede;border-radius:4px;color:#333;*line-height:14px;*padding-top:8px;*padding-bottom:5px}
#db-nav-location .local-label a.label:hover{background-color:#e0deda;color:#333}
.nav-local-list{display:none;position:absolute;z-index:10;left:50%;border:1px solid #ddd;width:16em;background:#fff;padding:12px 0 6px 20px;box-shadow:0 1px 6px rgba(0,0,0,0.1)}
.nav-local-list li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:4em;margin:0 -3px 6px 0;white-space:nowrap}
.local-label i{display:inline-block;*display:inline;zoom:1;margin-left:5px;height:0;width:0;line-height:0;border-color:#333 transparent transparent;border-style:solid dashed dashed;border-width:6px 5px 0;vertical-align:middle}
.locs-shown .local-label i{margin-top:-2px;border-color:transparent transparent #333;border-style:dashed dashed solid;border-width:0 5px 7px}
.ui-ftip{z-index:1}
#db-nav-location .nav-search{float:right;*width:282px;position:relative;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;padding:10px 0}
#db-nav-location label{top:0;top:1px\9;line-height:28px}
#db-nav-location .inp{position:relative;width:278px;height:28px;border:1px solid #e3e2de;text-align:left;background:#fff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxjaXJjbGUgZmlsbD0iI0ZGRkZGRiIgc3Ryb2tlPSIjQzhDOEM4IiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iMTQuNDM4IiBjeT0iMTQuMzAzIiByPSI0LjEzNyIvPg0KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQzhDOEM4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjE3Ljk0IiB5MT0iMTguMDgzIiB4Mj0iMTkuNjk4IiB5Mj0iMTkuODMzIi8+DQo8L3N2Zz4NCg==") no-repeat 100% 50%;background-image:url("http://img3.douban.com/f/shire/ab73f02d442fedf9e8c77be7db909ab95ce08fe1/pics/icon-magnifier.png")\9;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
#db-nav-location .inp-text{margin:0;width:92%;height:28px;line-height:26px\9;background:0}
#db-nav-location .inp-btn{cursor:pointer;font-size:0;line-height:9999px;position:absolute;z-index:1;width:30px;height:28px;right:0;top:0;left:auto;background:0;padding:0;margin:0}
a:link,a.no-visited:visited,a.no-hover:hover{color:#37a}
a:hover{text-decoration:underline}
a.bn-post:hover{background-color:#fff}
.title{color:#111}
.paginator .thispage{background:#69c}
.events-nav-item{overflow:hidden;zoom:1;margin-bottom:8px;padding-top:3px}
.events-nav-title{float:left;color:#444}
.events-nav-item ul{overflow:hidden;zoom:1}
.events-nav-item li{float:left;padding:1px 2px}
.events-nav-item li a{padding:1px 4px}
.events-nav-item li a:hover em{color:#fff}
.events-nav-item li em{color:#999;margin-left:-3px}
.events-nav-item li span{background:#46c1cf;color:#fff;padding:2px 5px;border-radius:2px}
.events-nav-item li span em{color:#fff}
.events-filter-subtype{background:#f5f5f5;padding:8px 15px;border-radius:4px}
.events-filter-loc{float:right}
.events-filter-loc .selected{padding:0 18px 2px 3px;cursor:pointer;background:#fff url(http://img3.douban.com/f/loc/0280dfa0a358a0e47d1265168761e5f11eb6bb95/pics/loc/ico-dropdown.png) no-repeat 100% 3px}
.events-filter-loc .ui-fbox{box-shadow:2px 1px 3px rgba(0,0,0,0.1);padding:8px 0;width:9.2em}
.events-filter-loc .ui-fbox li{float:none;margin-right:0;padding:0}
.events-filter-loc .ui-fbox li a{display:block;padding:1px 10px}
.events-filter-loc .ui-fbox li a:hover{background-color:#6cc1d6}
#datepicker .ui-datepicker-inline{background-color:#fff;border:1px solid #ccc;width:185px;border-radius:3px;box-shadow:2px 1px 3px rgba(0,0,0,0.1)}
.ui-datepicker-header{position:relative}
.ui-datepicker-header a.ui-datepicker-prev span,.ui-datepicker-header a.ui-datepicker-next span{height:20px;color:#666;font-weight:bold}
.ui-datepicker-header a:hover{color:#333;background-color:#ddd}
.ui-datepicker-title{color:#666;font-weight:bold;text-align:center}
.ui-datepicker-calendar th{padding:.5em .3em}
.ui-datepicker-calendar{padding:10px;color:#666;border-collapse:collapse;border-spacing:0}
.ui-datepicker-calendar thead{background-color:#eee}
.ui-datepicker-calendar th,.ui-datepicker-calendar td{border:1px solid #eee}
.ui-datepicker-calendar td a.ui-state-active.ui-state-hover,.ui-datepicker-calendar td a.ui-state-active{color:#fff;background:#888}
.ui-datepicker-calendar td a{text-align:center!important;color:#666}
.ui-datepicker-calendar td a.ui-state-hover{color:#666;background-color:#eee}
#ui-datepicker-div{display:none;background:#fff}
#datepicker{display:none;position:absolute;z-index:50;border:0;padding:0}
#datepicker .tri-left{left:-7px;top:84px}
#datepicker .tri-left .tri-left{top:-7px}
#choose-date{cursor:pointer}
#db-events-list .hd{border-bottom:1px solid #e6e6e6;padding-bottom:2px}
.paginator{margin-top:60px}
.fee strong{font-weight:normal}
#db-events-list{overflow:hidden;clear:none}
a.bn-big-action,a.bn-big-action:link,a.bn-big-action:hover,a.bn-big-action:visited{display:inline-block;background:#a88360;color:#fff;border-radius:2px;margin-right:20px;padding:0 1em;line-height:2.2em;vertical-align:middle}
.on-selling-events-price{color:#ff8263;font-weight:bold}
.visible-sm,.visible-xs,.visible-md{display:none}
body{min-width:964px}